.cursor_pointer {
  cursor: pointer;
}

#Container {
  width: 37em;
  /* height: 18em; */
  align-items: center;
  border-radius: 16px;
  background-color: whitesmoke;
  border: 1px solid rgb(228, 228, 228);
}

#ContainerList {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
}

#ContainerList .ContainerListItem {
  height: 35px;
  padding: 10px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 12px;
  /* background-color: rgb(255 255 255 / 8%); */
  background-color: rgb(233, 233, 233);
  font-weight: 600;
}

#ContainerList .ContainerListItem:first-of-type {
  margin-top: 0;
}

#ContainerList .ContainerListItem #ItemTitle {
  flex: content;
}

#ContainerList .ContainerListItem #quantity {
  background: none;
}

#ContainerList .ContainerListItem .buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#ContainerList .ContainerListItem .buttons * {
  border-radius: 10px;
  transition: 0.15s ease-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.9em;
  min-width: 2.9em;
  user-select: none;
}


#ContainerList .ContainerListItem .buttons button {
  background-color: rgb(216, 216, 216);
  outline: none;
  border: none;
  box-shadow: 0 1px 0px 1px rgb(255 255 255 / 15%);
  height: 2.9em;
  width: 2.9em;
  transition: .15s ease-out;
  border-radius: 50%;
}

#ContainerList .ContainerListItem .buttons button:enabled:hover {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 2px 0px 1px rgb(255 255 255 / 20%);
}

#ContainerList .ContainerListItem .buttons button:active {
  background: rgb(255 255 255 / 20%);
  box-shadow: 0 1px 0px 1px rgb(255 255 255 / 38%);
}

#ContainerList .ContainerListItem .buttons button:disabled {
  opacity: 0;
  cursor: default;
  background: rgba(200, 200, 255, 0.2);
  box-shadow: 0 0 0 1px rgba(200, 200, 255, 0.2);
}

#InputContainer {
  display: flex;
  gap: 12px;
  border-top: 1px solid rgb(228, 228, 228);
  height: 40px;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px;
}

#InputContainer * {
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 100px;
}

#InputContainer input {
  outline: none;
  padding: 8px 12px;
  padding-left: 16px;
  font-size: 14.8px;
  flex: 1;
}

#InputContainer button {
  outline: none;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  transition: .2s all;
  background-color: rgb(27, 27, 29);
  color: whitesmoke;
}

#InputContainer button:hover {
  background-color: rgb(57, 57, 59);
}